

$background-color: #FAF7F5;
$text: #4C4C4C;

$white: #FFFFFF;
$red: #D03743;
$blue: #667ACD;
$orange: #F39200;


//// Buttons \\\\
$button-shadow-size             : 0px 4px 25px;


//// Borders \\\\
$border-radius: 1rem;
$border-radius-l: 1.5rem;
$border-radius-xl: 2rem;